{{#hasevents}}
<div class="combined-calendar-container">
  <table id="combined-calendar-table" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{{#str}} dates, report_combinedcalendar{{/str}}</th>
        {{#dates}}
        <th colspan={{count}} class="text-center">{{date}}</th>
        {{/dates}} 
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{#str}} hours, report_combinedcalendar{{/str}}</td>
        {{#events}}
        <td class="timeslot">{{timeslot}}</td>
        {{/events}}
      </tr>
      {{#groups}}
      <tr>
        <td>{{name}}</td>
        {{#groupevents}}
        <td>
        {{#hasevent}}
          {{#members}}
          <div class="member-name">{{member}}</div>
          {{/members}}
        {{/hasevent}}
        </td>
        {{/groupevents}}
      </tr>
      {{/groups}}
    </tbody>
  </table>
</div>
{{/hasevents}}
{{^hasevents}}
    <div class="alert alert-info" role="alert">
      {{#str}} noevents, report_combinedcalendar{{/str}}
    </div>
{{/hasevents}}
